## Water Restoration for the Maji People
### Part 2: Clustering data to unveil Maji Ndogo's water crisis

In this section we begin to dive into some necessary steps towards adressing the problems facing the Maji people.

In [2]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

# Establish a connection to the local database using the '%sql' magic command.
%sql mysql+pymysql://root:Blessings@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

### 1. Creating communication channels within the team to facilitate communication
Here we create/clean email addresses and phone numbers for the employees to enable automated messages to their mails and phone numbers retrieved from the database.

In [3]:
%%sql

SELECT * 
FROM employee 
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+----------------------+----------------+---------------+-------+---------------------------+---------------+-----------+----------------+
| assigned_employee_id | employee_name  |  phone_number | email |          address          | province_name | town_name |    position    |
+----------------------+----------------+---------------+-------+---------------------------+---------------+-----------+----------------+
|          0           |  Amara Jengo   | +99637993287  |  None |  36 Pwani Mchangani Road  |     Sokoto    |   Ilanga  | Field Surveyor |
|          1           |  Bello Azibo   | +99643864786  |  None |   129 Ziwa La Kioo Road   |    Kilimani   |   Rural   | Field Surveyor |
|          2           |  Bakari Iniko  | +99222599041  |  None |   18 Mlima Tazama Avenue  |    Hawassa    |   Rural   | Field Surveyor |
|          3           | Malachi Mavuso | +99945849900  |  None |     100 Mogadishu Road    |     Akatsi    |   Lusaka  | Field Surveyor |
|          4           |  Cheche Buhle  | +99381679640  |  None |      1 Savanna Street     |     Akatsi    |   Rural   | Field Surveyor |
|          5           | Zuriel Matembo | +99034075111  |  None |  26 Bahari Ya Faraja Road |    Kilimani   |   Rural   | Field Surveyor |
|          6           |  Deka Osumare  | +99379364631  |  None |    104 Kenyatta Street    |     Akatsi    |   Rural   | Field Surveyor |
|          7           | Lalitha Kaburi | +99681623240  |  None | 145 Sungura Amanpour Road |    Kilimani   |   Rural   | Field Surveyor |
|          8           |  Enitan Zuri   | +99248509202  |  None |      117 Kampala Road     |    Hawassa    |  Zanzibar | Field Surveyor |
|          10          |   Farai Nia    | +99570082739  |  None | 33 Angélique Kidjo Avenue |     Amanzi    |   Dahabu  | Field Surveyor |
+----------------------+----------------+---------------+-------+---------------------------+---------------+-----------+----------------+
Truncated to displaylimit of 10.

In [4]:
%%sql

# Update the email column with the automated email formated as firstname.lastname@ndogowater.gov

# create a copy of the employee table to carry out updates
CREATE TABLE employee_new AS 
    SELECT *
    FROM employee;
    
# update the email column with the right email addresses
UPDATE employee_new
SET email = CONCAT( LOWER( REPLACE(employee_name, ' ','.')), '@ndogowater.gov');

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

RuntimeError: (pymysql.err.OperationalError) (1050, "Table 'employee_new' already exists")
[SQL: # Update the email column with the automated email formated as firstname.lastname@ndogowater.gov

# create a copy of the employee table to carry out updates
CREATE TABLE employee_new AS
    SELECT *
    FROM employee;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql

# checking the phone_number column for potential issues: datatype
SELECT DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'employee'
AND COLUMN_NAME = 'phone_number';

In [ ]:
%%sql

# checking the phone_number column for potential issues: trailing space
SELECT LENGTH(phone_number)
FROM employee;

In [ ]:
%%sql

# delete trailing spaces in phone number
UPDATE employee_new
SET phone_number = TRIM(phone_number);

SELECT LENGTH(phone_number)
FROM employee_new

### 2. Honouring the workers

We are sending some items out to appreciate the workers, how many packs do we need to send to each township and province, based on our employee's address?

In [ ]:
%%sql

# find the number of employees per town, per province
SELECT province_name, town_name,
    COUNT(employee_name) AS no_of_employeees
FROM employee
GROUP BY province_name, town_name
ORDER BY province_name, town_name

---
There is a need to identify the top three performers on the survey team, that is those who visited the highest number of locations. We would like to send them a congratulatory message on their email and phone number

In [ ]:
%%sql

WITH top_3_employee AS(# Identify the employees who had the maximum number of visits 
    SELECT assigned_employee_id,
        COUNT(source_id) AS sources_visited
    FROM visits
    GROUP BY assigned_employee_id
    ORDER BY sources_visited DESC
    LIMIT 3
)

# Obtain their contact details from the employee table
SELECT employee_new.employee_name,
    employee_new.phone_number,
    employee_new.email
FROM employee_new
JOIN top_3_employee
ON top_3_employee.assigned_employee_id = employee_new.assigned_employee_id

### Analysing water sources by location

In [9]:
# in order to display the full length of the output
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [19]:
%%sql


#checking the number of each source_type within each province

SELECT location.province_name AS province,
    water_source.type_of_water_source,
    count(visits.source_id) AS number_per_source
FROM location
JOIN visits
ON location.location_id = visits.location_id
JOIN water_source
ON water_source.source_id = visits.source_id
GROUP BY province_name,
    type_of_water_source
ORDER BY province_name,
    number_per_source DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25 rows affected.

+----------+----------------------+-------------------+
| province | type_of_water_source | number_per_source |
+----------+----------------------+-------------------+
|  Akatsi  |      shared_tap      |        6268       |
|  Akatsi  |         well         |        4921       |
|  Akatsi  |     tap_in_home      |        1281       |
|  Akatsi  |  tap_in_home_broken  |        910        |
|  Akatsi  |        river         |        411        |
|  Amanzi  |      shared_tap      |        4389       |
|  Amanzi  |     tap_in_home      |        2334       |
|  Amanzi  |  tap_in_home_broken  |        2048       |
|  Amanzi  |         well         |        1316       |
|  Amanzi  |        river         |        258        |
| Hawassa  |      shared_tap      |        3605       |
| Hawassa  |         well         |        3276       |
| Hawassa  |  tap_in_home_broken  |        885        |
| Hawassa  |     tap_in_home      |        868        |
| Hawassa  |        river         |        210        |
| Kilimani |      shared_tap      |        7239       |
| Kilimani |         well         |        4774       |
| Kilimani |     tap_in_home      |        1296       |
| Kilimani |  tap_in_home_broken  |        1171       |
| Kilimani |        river         |        791        |
|  Sokoto  |      shared_tap      |        4762       |
|  Sokoto  |         well         |        3096       |
|  Sokoto  |        river         |        1709       |
|  Sokoto  |     tap_in_home      |        1486       |
|  Sokoto  |  tap_in_home_broken  |        842        |
+----------+----------------------+-------------------+

There is a need to visualize this. Noted for action as visualizations will be done in Power BI.

However, it is obvious that shared taps are the commonest source type in all provinces, closely followed by wells (except in Amanzi)

In [21]:
%%sql

# evaluating the distribution of water (combining all sources) across the towns within each province

SELECT province_name,
    town_name, 
    COUNT(DISTINCT source_id) AS total_no_of_sources
FROM visits
JOIN location
ON location.location_id = visits.location_id
GROUP BY province_name,
    town_name
ORDER BY province_name, total_no_of_sources DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+---------------------+
| province_name | town_name | total_no_of_sources |
+---------------+-----------+---------------------+
|     Akatsi    |   Rural   |         6290        |
|     Akatsi    |   Lusaka  |         1070        |
|     Akatsi    |   Harare  |         800         |
|     Akatsi    |  Kintampo |         780         |
|     Amanzi    |   Rural   |         3100        |
|     Amanzi    |   Asmara  |         930         |
|     Amanzi    |   Dahabu  |         930         |
|     Amanzi    |   Amina   |         670         |
|     Amanzi    |   Pwani   |         520         |
|     Amanzi    |  Abidjan  |         400         |
|     Amanzi    |   Bello   |         400         |
|    Hawassa    |   Rural   |         3900        |
|    Hawassa    |   Serowe  |         480         |
|    Hawassa    |   Amina   |         420         |
|    Hawassa    |    Deka   |         350         |
|    Hawassa    |   Djenne  |         310         |
|    Hawassa    |  Zanzibar |         300         |
|    Hawassa    |  Yaounde  |         270         |
|    Kilimani   |   Rural   |         5440        |
|    Kilimani   |   Mrembo  |         990         |
|    Kilimani   |   Harare  |         850         |
|    Kilimani   |  Isiqalo  |         770         |
|    Kilimani   |    Zuri   |         750         |
|    Kilimani   |   Amara   |         710         |
|     Sokoto    |   Rural   |         5010        |
|     Sokoto    |   Ilanga  |         780         |
|     Sokoto    |  Majengo  |         620         |
|     Sokoto    |    Kofi   |         510         |
|     Sokoto    |   Bahari  |         470         |
|     Sokoto    |   Marang  |         460         |
|     Sokoto    |   Cheche  |         370         |
+---------------+-----------+---------------------+

It appears that the majority of sources in each province exist in the rural areas of the province.

In [22]:
# display limit is set back to 10
%config SqlMagic.displaylimit = 10

In [24]:
%%sql

# Of all the sources, what percentage exists in rural areas and what percentage are in urban areas
SELECT COUNT(DISTINCT source_id) AS total_no_of_sources/ SUM,
    location.location_type
FROM visits
JOIN location
ON location.location_id = visits.location_id
GROUP BY location_type

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

2 rows affected.

+---------------------+---------------+
| total_no_of_sources | location_type |
+---------------------+---------------+
|        23740        |     Rural     |
|        15910        |     Urban     |
+---------------------+---------------+

### More about the sources

These are a few questions to consider

1. How many wells, taps and rivers are there in Maji Ndogo?
2. What is the average number of people that are served by each water source
3. How many people are getting water from each type of source?

In [30]:
%%sql

#How many wells, taps and rivers are there in Maji Ndogo

SELECT type_of_water_source,
    COUNT(source_id) AS number_of_sources_by_type
FROM water_source
GROUP BY type_of_water_source
ORDER BY number_of_sources_by_type DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------------------+---------------------------+
| type_of_water_source | number_of_sources_by_type |
+----------------------+---------------------------+
|        river         |            3379           |
|      shared_tap      |            5767           |
|  tap_in_home_broken  |            5856           |
|     tap_in_home      |            7265           |
|         well         |           17383           |
+----------------------+---------------------------+

It appears that despite the drought that occured, Maji Ndogo still has water available.

In [34]:
%%sql

# What is the average number of people that are served by each water source

SELECT type_of_water_source,
    ROUND(AVG(Number_of_people_served)) AS avg_people_served
FROM water_source
GROUP BY type_of_water_source
ORDER BY avg_people_served DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------------------+-------------------+
| type_of_water_source | avg_people_served |
+----------------------+-------------------+
|      shared_tap      |        2071       |
|        river         |        699        |
|  tap_in_home_broken  |        649        |
|     tap_in_home      |        644        |
|         well         |        279        |
+----------------------+-------------------+

For the tap in homes, several houselold records were combined together, in order to make the data collection process more straightforward, however it has been earlier stated by the survey team that an average of 6 people are in a home sharing the tap in home.

In [36]:
%%sql

# What is the total number of people that are served by each water source
SELECT type_of_water_source,
    ROUND(SUM(Number_of_people_served)) AS no_of_people_served
FROM water_source
GROUP BY type_of_water_source
ORDER BY no_of_people_served DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------------------+---------------------+
| type_of_water_source | no_of_people_served |
+----------------------+---------------------+
|      shared_tap      |       11945272      |
|         well         |       4841724       |
|     tap_in_home      |       4678880       |
|  tap_in_home_broken  |       3799720       |
|        river         |       2362544       |
+----------------------+---------------------+

Most people in Maji Ndogo get their water from shared_taps. More than two times the number of people that are supplied by wells (which is in second place) are supplied by shared taps. 

As earlier observed, the major challenge with shared taps is time in queue.

In [52]:
%%sql

#What is percentage of people that are served by each water source
SELECT type_of_water_source,
    ROUND(SUM(Number_of_people_served)/
          (SELECT SUM(Number_of_people_served) AS total_no_of_people_served # Total number of people covered in the survey
            FROM water_source)  * 100) AS percentage_people_served_by_source_type
FROM water_source
GROUP BY type_of_water_source
ORDER BY SUM(Number_of_people_served) DESC

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------------------+-----------------------------------------+
| type_of_water_source | percentage_people_served_by_source_type |
+----------------------+-----------------------------------------+
|      shared_tap      |                    43                   |
|         well         |                    18                   |
|     tap_in_home      |                    17                   |
|  tap_in_home_broken  |                    14                   |
|        river         |                    9                    |
+----------------------+-----------------------------------------+

Considering tap_in_home and tap_in_home_broken together, we see that 31% of people have water infrastructure installed in the comfort of their homes, but only 17% are functional. This implies that fixing the tap_in_home infrastructure could be a good consideration for giving people easy access to water.

18% of people are using wells. But only 4916 out of 17383 are clean = 28% (as seen in part 1)

In [ ]:
%%sql

# how many people actually have access to clean water in Maji Ndogo

### Solution planning

As a first step in solution planning we want to rank the type_of_water_sources to find which ones are the most used source_types, so as to prioritize them in our solution planning. Of the most used source_type, we would also identify the particular source_id that is most used as priority

In [56]:
%%sql

WITH people_per_source_type AS (
    SELECT type_of_water_source,
    ROUND(SUM(Number_of_people_served)) AS no_of_people_served
    FROM water_source
    GROUP BY type_of_water_source
    ORDER BY no_of_people_served DESC
)

SELECT type_of_water_source,
    no_of_people_served,
    RANK(no_of_people_served) OVER(
    PARTITION BY type_of_water_source) AS rank_by_population
FROM people_per_source_type

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'no_of_people_served) OVER(\n    PARTITION BY type_of_water_source) AS rank_by_pop' at line 11")
[SQL: WITH people_per_source_type AS (
    SELECT type_of_water_source,
    ROUND(SUM(Number_of_people_served)) AS no_of_people_served
    FROM water_source
    GROUP BY type_of_water_source
    ORDER BY no_of_people_served DESC
)

SELECT type_of_water_source,
    no_of_people_served,
    RANK(no_of_people_served) OVER(
    PARTITION BY type_of_water_source) AS rank_by_population
FROM people_per_source_type]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql